<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image"> <img src="http://www.iconarchive.com/download/i78394/seanau/user/Thief.ico" class="rounded" width="155"> </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0"> {{ firstname }} {{ lastname }} </h4> 
                <h4 class="mb-0 mt-0"> {{ address }} </h4> 
                <span>Professional Shopper</span>
                <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100">Edit</button> </div>
            </div>
        </div>
    </div>
</div>