
<div id="footer">
    <div class="row">
      <div class="col-auto footer-item">
        <a href="#">About Us</a>
      </div>
      <div class="col-auto footer-item">
        <a href="#">Online Store</a>
      </div>
       <div class="col-auto footer-item">
          <a href="#">Contact Us</a>
        </div>
      <div class="col-auto footer-item">
        <a href="#">FAQ</a>
      </div>
      <div class="col-auto footer-item">
        <a href="#">Privacy Policy</a>
      </div>
      <div class="col-auto footer-item">
        <a href="#">Message</a>
      </div>
      <hr style="height: 0.6px; margin-top: 20px;"><br>
      <div class="col footer-brand">
        E-Commerce Store®
      </div>
    </div>
  </div>