<div class="topPadding">
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"> <span [innerHTML] = "totalQuantity()"></span> items</div>
                </div>
            </div>

            <!-- <div *ngFor="let eachProduct of products"> -->
                <div *ngFor="let eachProduct of cartMap | keyvalue">
                <!-- <div *ngIf="eachProduct.quantity > 0"> -->
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" [src]='eachProduct.key.image'></div>
                            <div class="col">
                                <div class="row">{{eachProduct.key.product_name}}</div>
                            </div>
                            <div class="col"> <input readonly class = "quantity" [id] = "'quantityItem' + eachProduct.key.product_id" type = "number" min = "1" max = "99" value={{eachProduct.value}}/>
                                </div>
                            <div class="col">&euro; {{eachProduct.key.retail_price}} <span class="close">&#10005; {{eachProduct.value}}</span></div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>


            <div class="back-to-shop"><a href="/home"><span class="text-muted">Back to shop</span></a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS <span [innerHTML] = "totalQuantity()"></span></div>
                <div class="col text-right">&euro; <span [innerHTML] = "getTotalPriceBeforeFees()"></span> </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left:0;">Tax (15%)</div>
                <div class="col text-right">&euro; <span [innerHTML] = "getTax()"></span> </div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted" id = "shipping" [value] = '5'>Standard-Delivery- &euro;5.00</option>
                    </select>
                <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">&euro; <span [innerHTML] = "getTotalPrice()"> $0</span> </div>
                </div> <a href = "/checkout"><button class="btn">CHECKOUT</button></a>
            </form>
            
        </div>
    </div>
</div> 

</div>

<!-- <div *ngFor = "let individualCart of cart">
    <h1>{{individualCart.id}}</h1>
    <p *ngFor = "let product of individualCart.products">{{product.productId}}
    </p>    
</div> -->