<div class="topPadding">
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"> <span [innerHTML] = "items.length"></span> items</div>
                </div>
            </div>

            <!-- <div *ngFor="let eachProduct of products"> -->
                <div *ngFor="let item of items">
                <!-- <div *ngIf="eachProduct.quantity > 0"> -->
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" [src]='item.product.image'></div>
                            <div class="col">
                                <div class="row">{{item.product.product_name}}</div>
                            </div>

                            <div class="col"> <input readonly class = "quantity" [id] = "'quantityItem' + item.product.product_id" type = "number" min = "1" max = "99" value={{item.quantity}}/>
                                <button type = "button" class="btn btn-danger deleteButton" (click) = 'deleteProduct(item.product)'>X</button>
                            </div>
                            <div class="col">{{item.product.retail_price | currency: 'CAD': 'symbol'}} <span class="close">&#10005; {{item.quantity}}</span></div>

        
                        </div>
                    </div>
                <!-- </div> -->
            </div>


            <div class="back-to-shop"><a href="/home"><span class="text-muted">Back to shop</span></a></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS <span [innerHTML] = "items.length"></span></div>
                <div class="col text-right">$ <span [innerHTML] = "getTotalPriceBeforeFees()"></span> </div>
            </div>
            <div class="row">
                <div class="col" style="padding-left:0;">Tax (15%)</div>
                <div class="col text-right">$ <span [innerHTML] = "getTax()"></span> </div>
            </div>
            <form>
                <p>SHIPPING</p> <select>
                    <option class="text-muted" id = "shipping" [value] = '5'>Standard-Delivery- $5.00</option>
                    </select>

                <p>GIVE CODE</p> <input  id="code" placeholder="Enter your code" (input) = "code = $any($event.target).value">
                <div *ngIf="code == 'mthree'">Congrats! You will get 10% off your total order!</div>
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                 <div *ngIf="items.length === 0" class="col text-right"> Cart is Empty </div>
                 <div *ngIf = "code == 'mthree' && items.length > 0" class="col text-right">$ <span [innerHTML] = "getTotalPriceWithDiscount()"> $0</span> </div>
                 <div *ngIf = "code != 'mthree' && items.length > 0" class="col text-right">$ <span [innerHTML] = "getTotalPrice()"> $0</span> </div>
            </div> <a href = "/checkout"><button class="btn btn-dark">CHECKOUT</button></a>
            
        </div>
    </div>
</div> 

</div>