<div class="container justify-content-center">

    <div class="row text-center">
      <div class="col-lg-3" *ngFor = 'let product of products'>
        <img class="rounded-circle" [src]='product.imgUrl' alt="Generic placeholder image" width="140" height="140">
        <h2>{{product.name}}</h2>
        <p>$ {{product.price}}</p>
        <p><a class="btn btn-outline-info btn-sm" href="#" role="button">
            <span><i class="fa fa-info"></i></span>
            <b> View details</b>
        </a></p>
        <p><a class="btn btn-outline-primary btn-sm" href="#" role="button">
            <span><i class="fa fa-cart-plus"></i></span>
            <b> Add to cart</b>
        </a></p>
        <hr>
      </div>
      
    </div>

</div>
