<div class="container justify-content-center">

    <div class="row text-center">
      <div class="col-lg-3 card shadow-lg  bg-light" *ngFor = 'let product of products'>
        
        <img class="rounded float-start" [src]='product.image' alt="Not Available" width="75" height="75">
        <h5 class="text-black-50">{{(product.product_name.length > 15)? (product.product_name | slice: 0 : 15) + '...':(product.product_name)}} </h5>
        <p>{{product.retail_price | currency: 'CAD': 'symbol'}}</p>
        <p><a class="btn btn-outline-info btn-sm" role="button" (click)="openDetails(productDetails, product)">
            <span><i class="fa fa-info"></i></span>
            <b> View details</b>
        </a></p>
        <p><a class="btn btn-outline-secondary btn-sm" role="button" (click) = 'addToCart(addedItemModal, product)'>
            <span><i class="fa fa-cart-plus"></i></span>
            <b> Add to cart</b>
        </a></p>
        
      </div>
      
    </div>

</div> 




<!-- Modal for viewing product details -->
<ng-template #productDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Product Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Item</label>
        <div class="input-group">
          <input readonly id="title" name="title" class="form-control text-break" value={{title}}>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <textarea readonly rows="4" cols="50" id="description" name="description" class="form-control text-break" value={{description}}></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <input readonly id="price" name="price" class="form-control" value={{price}}>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <div class="input-group">
          <input readonly id="category" name="category" class="form-control" value={{category}}>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('OK click')">OK</button>
  </div>
</ng-template>

<!-- Modal for showing message of succesfully added item -->
<ng-template #addedItemModal let-modal> 
  <div class="modal-header"  style="background-color: lightyellow;">
    <h4 class="modal-title" id="modal-basic-title" style="color: green;">Thank You</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: lightyellow;">
    <form>
      <div class="form-group">
        <i class="fa fa-check" style="color: green;"></i>
        Item successfully added to card
      </div>
    </form>
  </div>
  <div class="modal-footer" style="background-color: lightyellow;">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('OK click')">OK</button>
  </div>
</ng-template>
