<div class="container justify-content-center">

    <div class="row text-center">
      <div class="col-lg-3 card shadow-sm" *ngFor = 'let product of products'>
        
        <img class="rounded-circle" [src]='product.image' alt="Generic placeholder image" width="100" height="100">
        <h4>{{product.title}}</h4>
        <p>$ {{product.price}}</p>
        <p><a class="btn btn-outline-info btn-sm" href="#" role="button">
            <span><i class="fa fa-info"></i></span>
            <b> View details</b>
        </a></p>
        <p><a class="btn btn-outline-primary btn-sm" href="#" role="button">
            <span><i class="fa fa-cart-plus"></i></span>
            <b> Add to cart</b>
        </a></p>
        <!-- <hr> -->
      </div>
      
    </div>

</div>
